@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to right, #fdd835, #9c27b0);

  /* Color Palette */
  .bg-empower-1 {
    background-color: #fdd835;
  }

  .bg-empower-2 {
    background-color: #ff5722;
  }

  .bg-empower-3 {
    background-color: #4caf50;
  }

  .bg-empower-4 {
    background-color: #3f51b5;
  }

  .bg-empower-5 {
    background-color: #9c27b0;
  }

  .bg-gradient-empower {
    background-image: linear-gradient(to right, #fdd835, #9c27b0);
  }
}
/*
color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
*/
